.header-fixed2 {
    width: 100%;
}

.header-fixed2 > thead,
.header-fixed2 > tbody,
.header-fixed2 > thead > tr,
.header-fixed2 > tbody > tr,
.header-fixed2 > thead > tr > th,
.header-fixed2 > tbody > tr > td {
    display: block;
}

.header-fixed2 > tbody > tr:after,
.header-fixed2 > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed2 > tbody {
    overflow-y: auto;
    height: 420px;
}

.header-fixed2 > tbody > tr > td,
.header-fixed2 > thead > tr > th {
    width: 14.28%;
    float: left;
}